.nama {
  text-align: center;
}
.button-biru {
  margin-bottom: 100px;
  margin-left: 100px;
  margin-top: 50px;
  margin-right: 100px;
}
.button-merah {
  margin-left: 750px;
  margin-top: -250px;
}
